/* /1.Tag Name Selector/ */

h1 {
  color: red;
}
p {
  color: green;
}
/* /2.ID SELECTOR/ */
#para3 {
  color: blue;
}

/* /3.Class Selector/ */
.para2 {
  color: tomato;
}

/* /4.Universal Selector/ */

* {
  color: yellow;
}

/* 5.Group Selector */

#para3,
h1 {
  color: orange;
}